/*.component__container {*/
    /*display: grid;*/
    /*grid-template-rows: 100px 100px 1fr;*/
    /*grid-template-areas: "c-header" "c-navbar" "c-main"*/
/*}*/

/*.component__container .c-header {*/
    /*grid-area: c-header;*/
    /*align-self: center;*/
    /*font-size: 1.3rem;*/
/*}*/

/*.component__container .c-navbar {*/
    /*grid-area: c-navbar;*/
    /*display: inline-flex;*/
    /*flex-wrap: nowrap;*/
    /*height: 45px;*/
    /*align-items: center;*/
    /*justify-content: flex-start;*/
    /*!*width: 100%;*!*/
    /*border-bottom: 1px solid #dddddd;*/
/*}*/

/*.component__container .c-main {*/
    /*grid-area: c-main;*/
/*}*/



/*.component-nav__item {*/

    /*height: 45px;*/
    /*line-height: 45px;*/
    /*font-size: 1rem;*/
    /*white-space: nowrap;*/
    /*!*margin-right: 25px;*!*/
/*}*/

/*.is-active {*/
    /*border-bottom: 3px solid #2595ec;*/
/*}*/
td{
    vertical-align: middle;
}

.c-pagination{
    font-size: 1rem;
}
.c-pagination button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.c-pagination input:focus, .c-pagination button:focus{
    outline-width: 0;
}


.paginator--input{
    height: 30px;
    width: 30px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 5px;
    margin-right: 15px;
}

.paginator--last_page{
    color: #2595ED;
    margin-left: 15px;
    font-weight: bold;
}

.c-pagination i{
    margin-right: 25px;
    margin-left: 25px;
    color: #2595ed;
}
.c-pagination button:disabled i{
    color: #bebebe;
}

/*HIDDEN INPUT NUMBER ARROWS*/
.c-pagination input::-webkit-outer-spin-button,
.c-pagination input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.products-filters-row{
    font-size: 1rem;
    border: 1px solid #dddddd;
    border-top: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;

}

.single-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.filter-name{
    height: 50px;
    padding: 0 15px 0 15px;
    line-height: 50px;
}

.filter--price{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.filter--price input{
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: inherit;
    width: 50px;
    margin-left: 15px;
    padding: 5px;
}

.single-filter input:focus{
    outline: none;
}

.filter--price span{
    margin-left: 10px;
}
.component__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: "name header-button";
    padding: 45px 0 30px 0;
}
.component__header .c-breadcrumb{
    grid-area: name;
}
.component__header .main-header__button{
    grid-area: header-button;
    justify-self: end;
}
.component__header .c-form__button{
    margin: 0;
}
.f-center{
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-areas: ". form-content .";
}
.f-content{
    grid-area: form-content;
}
.c-form__fieldset .form__errors{
    position: absolute;
    top: 42px;
    color: red;
}

.c-form__field{
    margin-bottom: 10px;
}