/*BUTTONS */
.custom-button {
    margin: 40px;
    height: 40px;
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #ffffff;
    background-clip: padding-box;
    color: #000000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.custom-button::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(to bottom, #2595ec, #21c8cc);
    content: '';
    z-index: -1;
    border-radius: 5px;
}

.custom-button:hover {
    color: #ffffff;
    background: linear-gradient(to right, #21c8cc, #2595ec);
    background-size: 104%;
    background-position: -2px;
}

/*CHECKBOX*/

.square {
    position: relative;
    margin-right: 10px;
    width: 40px;
    height: 35px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.square::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    top: 50%;
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
    border-radius: 50%;
}
input:checked + .square {
    background: linear-gradient(to right, #21c8cc, #2595ec);
}

input:checked + .square:before {
    background: linear-gradient(to right, #21c8cc, #2595ec);
    border: 1px solid #fff;
}

input:checked + .square:after {
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 44%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 10px;
    z-index: 1;
}

.checkbox-square {
    display: flex;
    align-items: center;
    top: 4px;
}

/*MULTISELECT*/

.shop-select {
    background-color: #FFFFFF;
}

.shop-select .multiselect__tags {
    background-color: #FFFFFF;
    border: none;
    width: 170px;
    margin-top: 1px;
    color: #000;
    border-radius: 5px;
}

.shop-select .multiselect__single {
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
}

.shop-select .multiselect__content-wrapper {
    border: 1px solid #dde0e5;
    border-top: none;
    border-radius: 5px;
    width: 100%;
}

.shop-select .multiselect--active {
    background-color: #FFFFFF;
}

.shop-select .multiselect__option {
    border-top: 1px solid #dde0e5;
}

.shop-select .multiselect__option--highlight {
    background-color: #f5f7fa;
    color: #000000;
    border-top: 1px solid #dde0e5;
}

.shop-select .multiselect__content:first-child {
    border-top: none;
}

.shop-select .multiselect__select::before {
    /*border: none;*/
    height: 20px;
    border-color: #000 transparent transparent;
    border-width: 4px 4px 0;
    width: 20px;
}

.admin-select {
    background-color: #F5F7FA !important;
}

.admin-select .multiselect__tags {
    background-color: #f5f7fa;
    border: none;
    width: 170px;
    margin-top: 1px;
    color: #000;
    border-radius: 5px;
}

.admin-select .multiselect__single {
    background-color: #f5f7fa;
    font-size: 12px;
    font-weight: 700;
}

.admin-select .multiselect__content-wrapper {
    border: 1px solid #dde0e5;
    border-top: none;
    border-radius: 5px;
    width: 100%;
}

.admin-select .multiselect--active {
    background-color: #f5f7fa;
}

.admin-select .multiselect__option {
    border-top: 1px solid #dde0e5;
}

.admin-select .multiselect__option--highlight {
    background-color: #f5f7fa;
    color: #000000;
    border-top: 1px solid #dde0e5;
}

.admin-select .multiselect__content:first-child {
    border-top: none;
}

.admin-select .multiselect__select::before {

    height: 20px;
    border-color: #000 transparent transparent;
    border-width: 4px 4px 0;
    width: 20px;
}

.curr-select .multiselect__tags{
    width: 70px !important;
}
.shop-select .price-select {
    width: 120px;
}
.shop-select .price-select .multiselect__tags{
    width: 120px;
}
.product-select{
    width: 191px;
}

.product-select .multiselect__tags{
    width: 191px;
}
.product-categories-select{
    width: 380px;
    box-sizing: border-box;
}
.product-categories-select .multiselect__tags{
    width: 380px;
    margin-bottom: 5px;
    padding: 10px 40px 10px 10px;
}
.product-categories-select .multiselect__input{
    background: transparent;
    padding-top: 8px;
}

 .variant-select{
    width: 250px;
}
.variant-select .multiselect__tags{
    width: 250px;
}

 .price-select{
    width: 200px;
}

 .price-select .multiselect__tags {
    width: 200px;
}


